{%extends 'base.html'%}

{%block content%}
<header>
    <!-- <img src="./candle.jpeg" alt="candle"> -->
    <h1 class="logo">Loved Ones</h1>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>
<h2  style="margin: 20px;">Rest in Peace to Our Loved Ones.</h2>
<p  style="margin: 20px;" >Here you can find all the information you need to know about RIP</p>
<div class="homeContainer">
    <div class="passContainer">
        <h1 class="personName">Alison Margater </h1>
        <p >Published 11/16/2024</p>
        <p>
            Passed away peacefully on November 11, 2024, at Christchurch Hospital, aged 89. Mother of David and Susan, nana and great-nana of Olivia and Jordyn, sister of Frances Furlong. Messages c/- the Adams family to 78 Brisbane Street, Waltham, Christchurch 8023. At Alison's request a private burial has been held. 
        </p>
    </div>
    <div class="passContainer">
        <h1 class="personName">Ruessel Ashroft </h1>
        <p>Published 11/16/2024</p>
        <P>Passed aways peacefully on August 11, 2024.  A special mention and thanks to extended family for their love, care and support as well as neighbours and the wider community. </P>
    </div>
    <div class="passContainer">
        <h1 class="personName">Juny Ivy </h1>
        <p>Published 20/16/2023</p>
        <P>Passed aways peacefully on August 11, 2024.  A special mention and thanks to extended family for their love, care and support as well as neighbours and the wider community. </P>
    </div>
</div>



{%endblock%}
